* {
    box-sizing: border-box;
}

.container {
    font-family: Arial, "Helvetica";
    background-color: rosybrown;
    border: 5px solid gray;
    width: 80%;
    margin: 20px auto;
    padding: 30px 0 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

header {
    border: 2px solid gray;
    font-size: 1.8rem;
    text-align: center;
    margin: 2px;
    height: 80px;
    padding-top: 10px;
    width: 45%;
    background-color: mintcream;
}

header h4 {
    font-size: 1.5rem;
    padding-top: 6px;
    font-style: italic;
}
 
.cluedisplay {
    border: 2px solid gray;
    font-size: 22px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    margin: 2px;
    height: 80px;
    padding: 12px;
    width: 45%;
    background-color: mintcream;
}



.playbox {
    border: 2px solid gray;
    margin: 2px;
    height: 250px;
    padding-top: 5px;
    width: 45%;
    background-color: mintcream;
}

#wins {
    float: left;
}

#losses {
    float: right;
}

.playbox h3 {
    padding-top: 85px;
    padding-bottom: 24px;
    font-size: 42px;
    font-style: bold;
    text-align: center;
}

.playbox p {
    font-size: 18px;
    padding: 10px 12px 0px 12px;
    text-align: left;
}

.picturedisplay {
    border: 2px solid gray;
    font-size: 16px;
    text-align: center;
    margin: 2px 2px 40px 2px;
    padding: 0px 10px 0px 10px;
    height: 250px;
    width: 45%;
    background-color: mintcream;
}

img {
    height: 180px;
    width: 318px;  
    margin-top: 10px;
    margin-bottom: 5px;
    border: 1px solid gray;
}


