* {
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: Arial, "Helvetica";
    background-color: rgb(228, 243, 227);
    border: 9px groove rgb(231, 231, 231);
    border-radius: 6px;
    width: 80%;
    margin: 3vw auto;
    padding: 6vh 1vw;
}

#titlebox,
#cluebox    {
    border-radius: 3px;
    text-align: center;
    margin: .2vh .5vw;
    padding: 1vh 1vw;
    height: 80px;
    width: 47%;
    min-width: 369px;
    background-color: rgb(248, 253, 248);
}

#titlebox h2 {
    margin-top: 4px;
    font-size: 1.8rem;
}

#titlebox h4 {
    font-size: 1.5rem;
    margin-top: 6px;
    font-style: italic;
}
 
#cluebox p {
    font-size: 22px;
    margin-top: 6px;
    font-style: italic;
    font-weight: bold;
}

#playbox,
#picturebox {
    border-radius: 3px;
    margin: .2vh .5vw;
    height: 285px;
    padding: 1vw;
    width: 47%;
    min-width: 369px;
    background-color: rgb(248, 253, 248);
    text-align: center;
}

#wins {
    float: left;
    padding: 12px;
    border-radius: 3px;
    background-color:  rgb(214, 214, 214);
}

#losses {
    float: right;
    padding: 12px;
    border-radius: 3px;
    background-color: rgb(214, 214, 214);
}

#playbox h3 {
    padding-top: 85px;
    padding-bottom: 24px;
    font-size: 42px;
    font-style: bold;
    text-align: center;
}

#playbox p {
    font-size: 1.5rem;
    padding: 10px 12px 0px 12px;
    text-align: left;
}

#picturebox p {
    font-size: 1.1rem;
    margin-top: 6px;
}

img {
    width: 85%;  
    height: auto;
    border: 1px solid rgb(150, 150, 150);
    margin-top: 6px;
    margin-bottom: 12px;
}


